.home{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100%;
    color: #f1b;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

li{
    list-style: none;
    padding: .7rem;
    font-weight: 1rem;
}

.apresentacao{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.foto{
    width: 10rem;
    border-radius: 50%;
}

.sobre-eu{
    margin: 5% 10%;
    padding: 1rem;
}

h3{
    text-align: center;
    margin-bottom: 0.7rem;
}

#projetos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills{
    padding: 1rem;
    margin: 5% 10%;
}

.row-skills{
    display: flex;
    justify-content: center;
    align-items: center;

}

.row-skills > img{
   width: 6rem;
   padding: 1rem;
}

footer{
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: rgb(10, 10, 10);
}