@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body{
    background-color: rgb(10, 10, 10);
    width: 100vw;
    height: 100vh;
    color: rgb(216, 200, 212);
}

@media (max-width:1000px){
     nav{
         flex-direction: column-reverse;
         justify-content: center;
         align-items: center;
     }
     .titulo{
         width: 10rem;
         margin: 1.5rem 0.7rem;
     }
     .apresentacao{
         flex-direction: column-reverse;
         justify-content: center;
         align-items: center;
     }
}

@media (max-width: 385px){

}
    
.home{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}

nav > p{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    color: #f1b;
    border: solid 5px #f1b;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 20px #f1b;
    box-shadow: inset 0 0 20px #f1b, 0 0 20px #f1b;
}

.titulo{
    width: 20rem;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

li{
    list-style: none;
    padding: .7rem;
    font-weight: 1rem;
}

i{
    color:#f1b;
    width: 3rem;
}
.apresentacao{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.container-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h4{
   color: #2BFDFF;
}

button.contato{
    padding: 1rem;
    border-radius: .7rem;
    font-size: 1rem;
    font-weight: 600;
    transition: ease-in-out .6s;
    background-color: transparent;
    color:#f1b;
    border: dashed 2px #f1b;
}

button.contato:hover{
    transform: scale(1.05);
    background-color: #f1b;
    color: rgb(10, 10, 10);
}

.dropdown-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meus-contatos{
    width: 100%; /*pra celular tá bom, mas pra computer, não*/
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contatos{
    border: none /*solid 2px #f1b;*/;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.3rem 0.2rem;
    color: #f1b;
    font-weight: 1000;
    font-size: 1.5rem;
    background-color: black;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 7px #f1b;
    box-shadow: inset 0 0 3px #f1b, 0 0 3px #f1b;
}


.foto{
    width: 15rem;
    border-radius: 50%;
}

.sobre-eu{
    margin: 5% 15%;
    padding: 1rem;
}

h3{
    text-align: center;
    margin-bottom: 0.7rem;
    color:#f1b;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem;
    align-items: center;
    width: 300px;
    height: 350px;
    overflow: hidden;

}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.animated-border{
    width: 600px;
    height: 250px;
     margin-bottom: 1rem;
    position: absolute;
    background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 40%,
    #defe47,
    rgba(255, 0, 234, 0.5) 100%);
    animation: rotate 5s infinite ease-in-out;
}

.corner{
    width: 296px;
    height: 346px;
    background: rgb(10, 10, 10);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
   
}

.content{
    width: 265px;
    height: 315px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #de0d9c;
}
.container-projects{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-project{
    background-color: rgb(255,255,255,0.1);
    padding: 1rem;
    margin: 2rem;
    width: 15rem;
    height: 20rem;
}

.card-project > img,
img.card{
    width: 13rem;
    height: 8rem;
}

.row-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servico{
    background-color: rgb(255,255,255,0.1);
    padding: 1rem;
    margin: 0.7rem;
}

#skills{
    padding: 1rem;
    margin: 5% 10%;
}

.row-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row-skills > img{
   width: 6rem;
   padding: 1rem;
}

footer{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255,0.1);
}
