@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.home{
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100%;
    color: #f1b;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
}

nav{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

li{
    list-style: none;
    padding: .7rem;
    font-weight: 1rem;
}

i{
    color:#f1b;
    width: 3rem;
}
.apresentacao{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dropdown-content{
    background-color: rgb(255,255,255,0.1);
    width: 10rem;
    height: 15rem;
}

.foto{
    width: 10rem;
    border-radius: 50%;
}

.sobre-eu{
    margin: 5% 10%;
    padding: 1rem;
}

h3{
    text-align: center;
    margin-bottom: 0.7rem;
}

.container-projects{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-project{
    background-color: rgb(255,255,255,0.1);
    padding: 1rem;
    margin: 2rem;
    width: 15rem;
    height: 20rem;
}

.card-project > img{
    width: 12rem;
    height: 10rem;
}

.row-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servico{
    background-color: rgb(255,255,255,0.1);
    padding: 1rem;
    margin: 0.7rem;
}

#skills{
    padding: 1rem;
    margin: 5% 10%;
}

.row-skills{
    display: flex;
    justify-content: center;
    align-items: center;

}

.row-skills > img{
   width: 6rem;
   padding: 1rem;
}

footer{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,255,255,0.1);
}
