* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dois {
  /* width: 1000vw; */
  height: 100vh;
  background-color: #de004e;
  display: none;
  justify-content: center;
  align-items: center;
}

.animacao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  position: relative;
  animation: animacao 1s 9s normal;
}

h1 {
  padding: 0.5rem;
  border: solid 5px #f1b;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-family: sans-serif;
  background: black;
  color: #f1b;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3), 0 0 20px #f1b;
  box-shadow: inset 0 0 20px #f1b, 0 0 20px #f1b;
  border-radius: 0.5rem;
  position: absolute;
}

h2 {
  animation: neon 8s steps(40) 1s normal both;
  margin-top: 10rem;
  width: 300px;
  height: 100px;
  background-color: #f1b;
  transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
  filter: blur(64px);
  opacity: 0.7;
}

h9 {
  background: linear-gradient(
    to bottom,
    #af43be,
    #fd8090,
    #c4ffff,
    #08dee0,
    #1261d1
  );
  background: linear-gradient(
    to right,
    #f887ff,
    #de004e,
    #860029,
    #321450,
    #29132e
  );
  background: linear-gradient(
    to right,
    #7700a6,
    #fe00fe,
    #defe47,
    #00b3f3,
    #0016ee
  );
}

.typing-animation {
  animation: blinkCursor 500ms infinite normal,
    typing 8s steps(40) 1s normal both;
}

@keyframes typing {
  0%,
  100% {
    width: 0;
    height: 0;
    padding: 0;
  }
  5% {
    padding: 1rem;
    height: auto;
  }
  70% {
    width: 14em;
    padding: 1rem;
    color: #f1b;
    background-color: black;
    box-shadow: inset 0 0 20px #f1b, 0 0 20px #f1b;
  }
  75%,
  95% {
    color: black;
    background-color: #f1b;
    box-shadow: 0 0 5px 5px rgba(255, 17, 188, 0.568);
    width: 14em;
    padding: 1rem;
  }
  85%,
  98% {
    color: #f1b;
    background-color: black;
    box-shadow: inset 0 0 20px #f1b, 0 0 20px #f1b;
    width: 14em;
    height: auto;
    padding: 1rem;
  }
}

@keyframes neon {
  0%,
  100% {
    width: 0;
  }
  98% {
    width: 14rem;
  }
}

/* @keyframes blinkCursor {
    from {
      border-right-color: 2px solid rgba(255, 255, 255, 0.75);
      border-right-width: 1px;
    }
    to {
      border-right: transparent;
    }
  } */
